* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    --border-width: 10px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: rgb(39, 141, 224);
  border-radius: var(--border-width);
}
  main:after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 350% 350%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 5s alternate infinite;
  }


@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.clock {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform:rotate(90deg);
    transition: all .05s;
    transition-timing-function: cubic-bezier(0.23, 0.71, 0.79, 0.54);
}

.hour {
    left: 20%;
    width: 30%;
    padding: .5rem;
}
.sec {
    width: 50%;
    background-color: red;
}
.min {
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: .3rem;
}

:root {
    --color-first          : #65587f;
    --color-second         : #f18867;
    --color-third          : #e85f99;
    --color-forth          : #50bda1;


}
